<aside class="accreditation">

  <ul>
    <li><a href="https://www.nfrc.co.uk/"><img src="<%- imagecdn %>v1524233138/accredited/nfrc.png" alt="NFRC logo" title="The National Federation of Roofing Contractors" /></a></li>
    <li><a href="https://www.cscs.uk.com/"><img src="<%- imagecdn %>v1516284110/accredited/cscs.png" alt="CSCS logo" title="Construction Skills Certification Scheme" /></a></li>
    <li><a href="https://www.citb.co.uk/"><img src="<%- imagecdn %>v1516284110/accredited/citb.png" alt="CITB logo" title="Construction Industry Training Board" /></a></li>
    <li><a href="http://www.swrtg.co.uk/"><img src="<%- imagecdn %>v1516284110/accredited/swrtg.png" alt="SWRTG logo" title="South West Roofing Training Group" /></a></li>
  </ul>

</aside>
