<footer>

  <ul>
    <li>&copy; <%= company %></li>
    <li><a href="tel:+44-1392-254935" class="icon phone">+44 1392 254935</a></li>
    <li><a href="tel:+44-7970-792551" class="icon phone">+44 7970 792551</a></li>
    <li><a href="#" class="icon email">info {at} rooftrain dot co dot uk</a></li>
    <li id="install"><a href="#install" class="icon home-add">install</a></li>
  </ul>

  <p>Registered in England and Wales No. 07567774. All rights reserved.</p>

  <p class="optimalworks"><a href="https://www.optimalworks.net/" class="icon optimalworks" title="site developed by OptimalWorks Ltd">optimalWORKS</a></p>

  <% if (devBuild) { %><p class="dev"><%= layout || 'page.html' %> layout, v<%= version %></p><% } %>

</footer>
