/* hCard address microformat */
.vcard
{
  margin: 1em auto;

  dl, dt, dd, ul, li, p {
    @include reset-list;
    white-space: nowrap;
  }

  dd {
    margin: 0.6em 0;
  }

  dt {
    float: left;
    width: 5em;
    text-align: right;
    padding-right: 0.5em;
    color: lighten($color-fore, 10%);
  }

  .country-name {
    display: none;
  }

}

#map {

  width: 100%;
  height: 1px;

  &.active {
    width: 100%;
    height: 60vh;
    margin: 2em 0;
    border: 1px solid $color-fore;
  }

}
