// page footer
footer {
  position: relative;
  font-size: 0.85em;
  text-align: center;
  padding: 1rem 4vw 2rem;
  color: $color-back;
  background-color: $color-menu;

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    @include reset;
  }

  li {
    padding: 0 1em;

    a:link, a:visited {
      text-align: center;
      color: $color-back;

      &:before {
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.4em;
        background-color: $color-back;
        border-radius: 25%;
      }

    }
  }

  a.optimalworks {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.7rem;
    padding: 8px;
    color: #fff;
  }

}
