// header and hero
$header-height: 50vh;
$header-image: $header-height * 0.9;
$header-small: 0.5;

header {

  position: relative;
  height: $header-height;
  margin-top: $menuheight;

  .back {

    width: 100%;
    height: $header-image;
    background-color: $color-menu;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      opacity: 0.4;
      filter: blur(0.7vw);
      transform: scale(1.1);
    }
  }

  .hero {

    position: absolute;
    width: $header-image;
    max-width: 90vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $color-back;
    border: 6px solid $color-back;

    @include respond('medium') {
      left: auto;
      right: 5vw;
    }

    &:after {
      position: absolute;
      content: ' ';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($color-fore, 0);
      will-change: background-color;
    }

  }

  .quote {
    display: none;
    position: absolute;
    font-size: 2em;
    top: 20%;
    left: 5vw;
    right: calc(#{$header-image} + 15vw);
    line-height: 1.05;
    color: $color-back;
    will-change: filter, transform;
    transform: translateY(-99em);
    animation: 1s cubic-bezier(0.8,0.1,0.6,1.6) 0.5s forwards quotehero;
  }

  a.cta {
    display: block;
    font-size: 0.75em;
    width: 6em;
    text-align: center;
    padding: 0.1em 0 0.3em;
    margin: 1.5em auto 0;
    color: $color-back;
    border: 2px solid $color-back;
    will-change: color, border-color, box-shadow, text-shadow;
    transition: all 0.2s linear;

    &:hover, &focus {
      color: #fff;
      border-color: #fff;
      text-shadow: 0 0 3px #fff;
      box-shadow: 0 0 8px #fff;
    }

  }

  &.small {
    height: $header-height * $header-small;

    .back {
      height: $header-image * $header-small;
    }

    .hero {
      width: $header-image * $header-small;
    }
  }

  @include respond('medium') {

    .quote {
      display: block;
    }

  }

  q::before, q::after {
    content: "";
  }

}


// animation
@keyframes quotehero {
	0% {
    filter: blur(10px) opacity(0);
    transform: translateX(-5vw);
  }
	100% {
    filter: blur(0px) opacity(1);
    transform: translateX(0);
  }
}
