// relative navigation
nav.tag, nav.relative {

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 2em 0 0 0;
  }

  li {
    text-align: left;
    padding: 0;
    margin: 2vmin;
  }

  li.link-next {
    margin-left: auto;
    text-align: right;
  }

  li.link-parent {
    flex-basis: 100%;
    text-align: center;
  }

}

nav.tag ul {
  justify-content: flex-end;
}

// links
.links ul {

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 2em;

  li {
    flex: 1 1 6rem;
    padding: 0;
    margin: 1.5rem;
  }

  img {
    display: block;
    max-width: none;
    margin: auto;
  }

}

// contact
ul.contact {

  &, li {
    list-style-type: none;
    @include reset;
  }

  li {
    text-align: center;
    padding: 0.6em 0;
  }

  a {
    display: block;
    border: 0 none;
  }

  .phone {
    font-size: 1.5em;
  }

}
