# security
<FilesMatch "\.(html|php)$">
Header set Content-Security-Policy "default-src 'self'; style-src 'self' 'unsafe-inline' *.googleapis.com; script-src 'self' *.google-analytics.com *.googletagmanager.com *.googleapis.com *.cloudflare.com data:; connect-src 'self' *.google-analytics.com *.googleapis.com *.gstatic.com *.optimalworks.net data:; img-src * data:; form-action 'self' *.optimalworks.net; font-src 'self' *.gstatic.com data:; frame-src 'self' *.google.com"
Header set Strict-Transport-Security "max-age=63072000"
Header set X-Content-Type-Options nosniff
Header set X-Frame-Options SAMEORIGIN
Header set X-XSS-Protection "1; mode=block"
</FilesMatch>

AddType application/manifest+json .webmanifest

RewriteEngine On

/* @if !devBuild */
# enforce HTTPS non-www
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule ^ /* @echo domain */%{REQUEST_URI} [L,NE,R=301]

# remove index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . redir.php [L]
/* @endif */
